body, html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   font-family: Arial, Helvetica;
}

#travel, body, html {
   overflow: hidden;
}

* {
   outline: 1px solid #0bc1ed;
}


.level {

   width: 450vw;
   &,.child {
      display: inline-block;
   }

   .child {

      float: left;
      height: 100vh;
      text-align: center;
      padding: 45vh 0;
      box-sizing: border-box;

      &:nth-child(even) {
         width: 50vw;
      }
      &:nth-child(odd) {
         width: 100vw;
      }

   }

}
